{% extends 'base.html' %}
{% load static %}
{% block metadescription %}

       {{ stream.description|truncatewords:155 }}

{% endblock %}
{% block title %}
{% if department %}
       {{stream.name}} - KSM School Store

    {% endif %}
{% endblock %}

{% block content %}
<div class="row my_prod_row_class">
  <div class="mx_auto">
    <p><a href="{% url 'college:allStreamDept' %}">Home </a>| <a href="{{stream.department.get_url}}">{{stream.department}}</a>|{{stream.name}} </p>
  </div>
</div>
<div>
    <h1 class="text-center my_title">{{stream.name}}</h1>
    <p class="text-justify">{{stream.description}}</p>
</div>



{% endblock %}